<mat-card appearance="outlined">
    <mat-card-content>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
            </tr>
            @for (user of users; track $index) {
                <tr [routerLink]="['/user/', user.id]">
                    <td>{{user.firstName}} {{ user.lastName}}</td>
                    <td>{{user.eMail}}</td>
                    <td>{{user.city}}</td>
                </tr>
            }

        </table>
    </mat-card-content>
  </mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add new User" [matTooltipPosition]="'above'">
    <mat-icon>add</mat-icon>
</button>