<mat-card appearance="outlined">
    <mat-card-content>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
            </tr>
            @for (user of users; track $index) {
                <tr >
                    <td [routerLink]="['/user/', user.id]">{{user.firstName}} {{ user.lastName}}</td>
                    <td [routerLink]="['/user/', user.id]">{{user.eMail}}</td>
                    <td [routerLink]="['/user/', user.id]">{{user.city}}</td>
                    <td><mat-icon (click)="deleteUser(user.id)" >delete</mat-icon></td>
                </tr>
               
            }
        </table>
    </mat-card-content>
  </mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add new User" [matTooltipPosition]="'above'">
    <mat-icon>add</mat-icon>
</button>